* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    padding: 2rem;
    background-color: #F9FAFB;
}

.header img {
    display: block;
    margin: 0 auto;
    width: 300px;
}

hr {
    border: 1px solid #d2d2d2;
    margin: 1rem 0;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.search-container {
    position: relative;
    height: max-content;
}

.header h1 {
    text-align: center;
    color: #003c6dc2;
    font-size: 40px;
    font-weight: bold;
    margin: 1rem 0;
}

.header p {
    text-align: center;
    font-size: 18px;
}


.filter-container button {
    background-color: #333;
    color: white;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.156);
    border-radius: 4px;
    border: none;
    padding: 4px 12px;
    font-size: 16px;
    cursor: pointer;
}

select {
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 3px 1px #eee;
    margin-bottom: 1rem;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}


.search-input {
    display: block;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px 1px #eeeeee;
    padding: 16px 48px;
    margin: 0 auto;
    width: 24rem;
    font-size: 18px;
}

.search-input:active,
.search-input:focus {
    outline: none;
}


.user-list {
    padding: 24px 36px;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between; */
}

.pagination {
    text-align: center;
    margin: 2rem 0;
}

.pagination button {
    padding: 8px;
    font-size: 16px;
    margin: 1px 4px;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: white;
}


.pagination button:hover {
    background-color: #333;
    color: white;
}

.pagination .active {
    color: #ececec;
    background-color: #333;
}

/* 
.pagination input {
    font-size: 16px;
    margin: 0 12px;
    width: 50px;
    padding: 4px 6px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

.pagination input {
    font-size: 16px;
    margin: 0 12px;
    width: 50px;
    padding: 6px 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    appearance: textfield;
    /* Removes number input styles */
    -moz-appearance: textfield;
    /* Firefox */
}

.pagination input::-webkit-outer-spin-button,
.pagination input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pagination input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

@media screen and (max-width: 850px) {
    .filters {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .search-container {
        position: absolute;
        height: max-content;
    }

    .search-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
        pointer-events: none;
    }

    .filter-container {
        margin: 4rem 0;
    }
}